doctype html
html
    head
        title Fully shit
        link(rel='stylesheet' href='/assets/css/app.css')

    body
        h1.prev__orders__info__title Some content
        h2= id
        h3= name
        h4= name.toLowerCase()

        - const y = 10;
        p= y*1.234*2
        p more text #{name}
        p some text
        button btn